#                            ###Assignment-2

##Question1

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\ravi\appdata\roaming\python\python39\site-packages (4.8.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.2)
Requirement already satisfied: outcome in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [4]:
driver=webdriver.Chrome(r"C:/Users/Hp/Desktop/Documents/Assignment-2.selenium.ipynb/chromedriver.exe")

In [5]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [6]:
driver.get("https://www.naukri.com/")

In [8]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [15]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [16]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [17]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [18]:
##scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [22]:
##scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
##scraping company name from the given page    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
#scraping job experience from the given page    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [23]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [24]:
import pandas as pd
df=pd.DataFrame({"title":job_title,"Location":job_location,"Company_name":company_name,"Experience":experience_required})
df

,title,Location,Company_name,Experience
0,Data Engineer/Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Tech Mahindra,6-11 Yrs
1,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
2,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
3,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
5,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
6,Data Analyst - MySQL,Bangalore/Bengaluru,Talentstack,2-7 Yrs
7,ExcelHER-Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,3-5 Yrs
8,Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Allegis Group,4-9 Yrs
9,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs

###Question-2

In [2]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\ravi\appdata\roaming\python\python39\site-packages (4.8.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [4]:
driver1=webdriver.Chrome(r"C:\Users\Hp\Desktop\Documents\Assignment-2.selenium.ipynb\chromedriver.exe")

In [5]:
driver1=webdriver.Chrome(r"chromedriver.exe")

In [6]:
driver1.get("https://www.naukri.com/")

In [7]:
Designation=driver1.find_element(By.CLASS_NAME,"suggestor-input")
Designation.send_keys("Data scientist")

In [8]:
location1=driver1.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location1.send_keys("Bangalore")

In [9]:
search=driver1.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
job_title1=[]
job_location1=[]
company_name1=[]

In [11]:
##scraping job title from the given page
title_tags1=driver1.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags1[0:10]:
    title1=i.text
    job_title1.append(title1)
##scraping job location from the given page
location_tags1=driver1.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags1[0:10]:
    location1=i.text
    job_location1.append(location1)
##scraping company name from the given page    
company_tags1=driver1.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags1[0:10]:
    company1=i.text
    company_name1.append(company1)

In [12]:
print(len(job_title1),len(job_location1),len(company_name1))

10 10 10

In [14]:
import pandas as pd
df1=pd.DataFrame({"JOb_TITLE":job_title1,"JOB_LOCATION":job_location1,"COMPANY_NAME":company_name1})
df1

,JOb_TITLE,JOB_LOCATION,COMPANY_NAME
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
7,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
8,Data Scientist,Bangalore/Bengaluru,IBM
9,Data Scientist,Bangalore/Bengaluru,IBM

##Question3

In [15]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\ravi\appdata\roaming\python\python39\site-packages (4.8.3)
Requirement already satisfied: trio~=0.17 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [17]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [18]:
driver2=webdriver.Chrome(r"C:\Users\Hp\Desktop\Documents\Assignment-2.selenium.ipynb\chromedriver.exe")

In [19]:
driver2=webdriver.Chrome(r"chromedriver.exe")

In [20]:
driver2.get("https://www.naukri.com/")

In [21]:
Designation1=driver2.find_element(By.CLASS_NAME,"suggestor-input")
Designation1.send_keys("Data scientist")

In [22]:
search=driver2.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [25]:
location_filter=driver2.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
location_filter.click()

In [26]:
salary_filter=driver2.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary_filter.click()

In [27]:
job_title2=[]
job_location2=[]
company_name2=[]
experience_required2=[]

In [30]:
 ##scraping job title from the given page
title_tags2=driver2.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags2[0:10]:
    title2=i.text
    job_title2.append(title2)
##scraping job location from the given page
location_tags2=driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags2[0:10]:
    location2=i.text
    job_location2.append(location2)
##scraping company name from the given page    
company_tags2=driver2.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags2[0:10]:
    company2=i.text
    company_name2.append(company2)
# #scraping job experience from the given page    
experience_tags2=driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags2[0:10]:
    exp2=i.text
    experience_required2.append(exp2)

In [31]:
print(len(job_title2),len(job_location2),len(company_name2),len(experience_required2))

10 10 10 10

In [34]:
import pandas as pd
df2=pd.DataFrame({"Job_Title2":job_title2,"Job_location2":job_location2,"Company_Name2":company_name2,"Experience_Required2":experience_required2})
df2

,Job_Title2,Job_location2,Company_Name2,Experience_Required2
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
5,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
6,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
7,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs
8,Assistant Manager/Senior Manager - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,2-7 Yrs
9,ASE/SE/SSE-Data Science,Noida,Bold Technology Systems,2-7 Yrs

##Question4

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\ravi\appdata\roaming\python\python39\site-packages (4.8.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: outcome in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver3=webdriver.Chrome(r"C:\Users\Hp\Desktop\Documents\Assignment-2.selenium.ipynb\chromedriver.exe")

In [4]:
driver3=webdriver.Chrome(r"chromedriver.exe")

In [5]:
driver3.get("https://www.flipkart.com/")

In [6]:
search1=driver3.find_element(By.CLASS_NAME,"_3704LK")
search1.send_keys("sunglasses")

In [8]:
search2=driver3.find_element(By.CLASS_NAME,"L0Z3Pu")
search2.click()

In [9]:
product_description=[]
product_brand=[]
product_price=[]
product_offer=[]

In [10]:
start=0
end=3
for page in range(start,end):
    ##scraping product description from the given page
    product_des=driver3.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_des:
        product_description.append(i.text)
        

    ##scraping brand of the product from the given page
    product_bra=driver3.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in product_bra:
        product_brand.append(i.text)
        
    ##scraping price of the product from the given page
    product_pri=driver3.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in product_pri:
        product_price.append(i.text)
        
      ##scraping offer of the product from the given page
    product_off=driver3.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in product_off:
        product_offer.append(i.text)
    next_button=driver3.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [11]:
print(len(product_description),len(product_brand),len(product_price),len(product_offer))

120 120 120 120

In [12]:
import pandas as pd
df3=pd.DataFrame({"Product_Description":product_description[0:100],"Product_Brand":product_brand[0:100],"Product_Price":product_price[0:100],"Product_Offer":product_offer[0:100]})
df3

,Product_Description,Product_Brand,Product_Price,Product_Offer
0,UV Protection Retro Square Sunglasses (46),hayden haiza,₹214,84% off
1,UV Protection Wayfarer Sunglasses (Free Size),Dervin,₹234,84% off
2,UV Protection Wayfarer Sunglasses (50),SRPM,₹149,88% off
3,UV Protection Aviator Sunglasses (Free Size),PIRASO,₹268,83% off
4,"UV Protection Cat-eye, Retro Square, Oval, Rou...",Elligator,₹149,75% off
...,...,...,...,...
95,"Polarized, UV Protection Aviator Sunglasses (55)",PROVOGUE,₹499,75% off
96,UV Protection Sports Sunglasses (65),NuVew,₹129,86% off
97,UV Protection Rectangular Sunglasses (Free Size),New Specs,₹264,89% off
98,UV Protection Wayfarer Sunglasses (53),Elligator,₹149,88% off
99,Polarized Wayfarer Sunglasses (Free Size),Resist,"₹1,399",65% off

##Question5

In [12]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\ravi\appdata\roaming\python\python39\site-packages (4.8.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [13]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [14]:
driver4=webdriver.Chrome(r"C:\Users\Hp\Desktop\Documents\Assignment-2.selenium.ipynb\chromedriver.exe")

In [15]:
driver4=webdriver.Chrome(r"chromedriver.exe")

In [16]:
driver4.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [17]:
rating=[]
review_summary=[]
full_review=[]

In [18]:
start=0
end=10
for page in range(start,end):
    ##scraping product rating from the given page
    product_rate=driver4.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in product_rate:
        rating.append(i.text)
        

    ##scraping review summary of the product from the given page
    review=driver4.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_summary.append(i.text)
        
    ##scraping full review of the product from the given page
    f_review=driver4.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in f_review:
        full_review.append(i.text)
    next_button1=driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button1.click()
    time.sleep(11)

In [19]:
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [21]:
import pandas as pd
df4=pd.DataFrame({"Rating":rating,"Review_Summary":review_summary,"Full_Review":full_review})
df4

,Rating,Review_Summary,Full_Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

##Question6

In [43]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\ravi\appdata\roaming\python\python39\site-packages (4.8.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [44]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [45]:
driver5=webdriver.Chrome(r"C:\Users\Hp\Desktop\Documents\Assignment-2.selenium.ipynb\chromedriver.exe")

In [46]:
driver5=webdriver.Chrome(r"chromedriver.exe")

In [47]:
driver5.get("https://www.flipkart.com/")

In [48]:
search3=driver5.find_element(By.CLASS_NAME,"_3704LK")
search3.send_keys("sneakers")

In [51]:
search4=driver5.find_element(By.CLASS_NAME,"L0Z3Pu")
search4.click()

In [52]:
brand=[]
pro_description=[]
price=[]

In [53]:
start=0
end=3
for page in range(start,end):
    ##scraping product rating from the given page
    product_br=driver5.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in product_br:
        brand.append(i.text)
        

    ##scraping review summary of the product from the given page
    pro_des=driver5.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pro_des:
        pro_description.append(i.text)
        
    ##scraping full review of the product from the given page
    pro_pr=driver5.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pro_pr:
        price.append(i.text)
    next_button2=driver5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button2.click()
    time.sleep(3)

In [54]:
print(len(brand),len(pro_description),len(price))

120 115 120

In [55]:
import pandas as pd
df5=pd.DataFrame({"Product_Description1":pro_description[0:100],"Product_Brand1":brand[0:100],"Product_Price1":price[0:100]})
df5

,Product_Description1,Product_Brand1,Product_Price1
0,Casual Sneakers ColourFul Block Shoes For Boys...,Labbin,₹694
1,Casual Sneakers ColourFul Block Shoes For Boys...,Labbin,₹694
2,Sneakers For Men,SFR,₹299
3,Synthetic Leather |Lightweight|Comfort|Summer|...,aadi,₹499
4,Synthetic Leather |Lightweight|Comfort|Summer|...,aadi,₹399
...,...,...,...
95,Synthetic Leather |Lightweight|Comfort|Summer|...,EZDEZARIO,₹429
96,237 Sneakers For Men,New Balance,"₹6,399"
97,Stylish & Trendy Sneakers For Men,New Balance,"₹5,484"
98,Stylish Sneakers Shoes for Women And Girls Sne...,aadi,₹349
99,WATERPROOF-05cFULLWHITE Sneakers For Men,aadi,₹349

##Question7

In [11]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\ravi\appdata\roaming\python\python39\site-packages (4.8.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [12]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [13]:
driver6=webdriver.Chrome(r"C:\Users\Hp\Desktop\Documents\Assignment-2.selenium.ipynb\chromedriver.exe")

In [14]:
driver6=webdriver.Chrome(r"chromedriver.exe")

In [15]:
driver6.get("https://www.amazon.in/")

In [17]:
search5=driver6.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div[2]/form/div/div/input")
search5.send_keys("Laptop")

In [18]:
search6=driver6.find_element(By.CLASS_NAME,"nav-bb-button")
search6.click()

In [30]:
CPU_filter=driver6.find_element(By.CLASS_NAME,"a-spacing-micro")
CPU_filter.click()

In [31]:
title_laptop=[]
l_ratings=[]
l_price=[]

In [32]:
 ##scraping laptop title from the given page
title_tags_2=driver6.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags_2[0:10]:
    title_2=i.text
    title_laptop.append(title_2)
##scraping ratings of laptop from the given page
lratings=driver6.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in lratings[0:10]:
    ratings_2=i.text
    l_ratings.append(ratings_2)
##scraping laptop price from the given page    
lprice=driver6.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in lprice[0:10]:
    lprice2=i.text
    l_price.append(lprice2)

In [33]:
print(len(title_laptop),len(l_ratings),len(l_price))

10 10 10

In [34]:
import pandas as pd
df6=pd.DataFrame({"Laptop_Title":title_laptop,"Ratings":l_ratings,"Price":l_price})
df6

                                        Laptop_Title Ratings     Price
0  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...     4.0    79,990
1  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...     4.4    94,990
2  ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms F...     4.0    84,990
3  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...     4.3    93,990
4  LG Gram16 Intel EVO-[12th Gen Core i7/Win11/16...     4.1    82,990
5  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...     3.6    98,990
6  ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) ...     4.1    94,990
7  ASUS Zenbook Pro 14 Duo OLED (2022) Dual Scree...     4.5  1,39,990
8  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cm)...     4.7  1,31,655
9  Lenovo Thinkpad P16s 12th Gen Intel Core i7 16...     4.2  1,58,990

##Question8

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\ravi\appdata\roaming\python\python39\site-packages (4.8.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver7=webdriver.Chrome(r"C:\Users\Hp\Desktop\Documents\Assignment-2.selenium.ipynb\chromedriver.exe")

In [4]:
driver7=webdriver.Chrome(r"chromedriver.exe")

In [5]:
driver7.get("https://www.azquotes.com/")

In [9]:
top_quotes=driver7.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [10]:
quote=[]
author=[]
type_quotes=[]

In [11]:
start=0
end=10
for page in range(start,end):
    ##scraping quotes from the given page
    quote_=driver7.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_:
        quote.append(i.text)
        

    ##scraping review summary of the product from the given page
    author_=driver7.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_:
        author.append(i.text)
        
    ##scraping full review of the product from the given page
    t_quotes=driver7.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in t_quotes:
        type_quotes.append(i.text)
next_button_=driver7.find_element(By.XPATH,'//div[@class="next"]')
next_button_.click()
time.sleep(11)

In [12]:
print(len(quote),len(author),len(type_quotes))

1000 1000 1000

In [13]:
import pandas as pd
df7=pd.DataFrame({"Quotes":quote,"Author":author,"Type_Of_Quotes":type_quotes})
df7

,Quotes,Author,Type_Of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

##Question9

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\ravi\appdata\roaming\python\python39\site-packages (4.8.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.2)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver8=webdriver.Chrome(r"C:\Users\Hp\Desktop\Documents\Assignment-2.selenium.ipynb\chromedriver.exe")

In [4]:
driver8=webdriver.Chrome(r"chromedriver.exe")

In [5]:
driver8.get(" https://www.jagranjosh.com/")

In [6]:
GK=driver8.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a")
GK.click()

In [7]:
List_all_prime_ministers=driver8.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
List_all_prime_ministers.click()

In [8]:
Name=[]
born_dead=[]
term_office=[]
remarks=[]

In [9]:
 ##scraping names of prime ministers from the given page
names = driver8.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')

for name in names:

    Name.append(name.text)
##scraping born-dead information from the given page
born__dead=driver8.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born__dead:
    
    born_dead.append(i.text)
##scraping term of office from the given page    
term_=driver8.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p[1]') 
for i in term_:
    
    term_office.append(i.text)
# #scraping remarks from the given page    
remark=driver8.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p') 
for i in remark:
    
    remarks.append(i.text)

In [10]:
print(len(Name),len(born_dead),len(term_office),len(remarks))

18 18 18 18

In [11]:
import pandas as pd
df8=pd.DataFrame({"Names_of_Prime_ministers":Name,"Born_Dead":born_dead,"Term_Of_Office":term_office,"Remarks":remarks})
df8

,Names_of_Prime_ministers,Born_Dead,Term_Of_Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

##Question10

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\ravi\appdata\roaming\python\python39\site-packages (4.8.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ravi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver9=webdriver.Chrome(r"C:\Users\Hp\Desktop\Documents\Assignment-2.selenium.ipynb\chromedriver.exe")

In [4]:
driver9=webdriver.Chrome(r"chromedriver.exe")

In [5]:
driver9.get("https://www.motor1.com/")

In [6]:
Drop_down_List=driver9.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]/div")
Drop_down_List.click()

In [7]:
features=driver9.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/button")
features.click()

In [8]:
Lists=driver9.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
Lists.click()

In [9]:
fifty_expensive_cars=driver9.find_element(By.XPATH,"/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[8]/div/div[1]/h3/a")
fifty_expensive_cars.click()

In [10]:
C_Name=[]
Price=[]

In [11]:
##scraping names of the cars from the given page
 
Car_names=driver9.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in Car_names:
    c_names=i.text
    C_Name.append(c_names)
##scraping price of the cars from the given page
C_price=driver9.find_elements(By.XPATH,'//strong')
for i in C_price:
    c_price=i.text
    Price.append(c_price)

In [12]:
print(len(C_Name),len(Price))

51 51

In [13]:
import pandas as pd
df9=pd.DataFrame({"Car_Names":C_Name,"Car_Price":Price})
df9

                           Car_Names                    Car_Price
0                      De Tomaso P72          Price: $1.3 Million
1                  Ferrari LaFerrari          Price: $1.4 Million
2                      Pagani Huayra          Price: $1.4 Million
3                       McLaren Elva
4                        Czinger 21C          Price: $1.7 Million
5                      Ferrari Monza          Price: $1.7 Million
6                 Gordon Murray T.33          Price: $1.7 Million
7                  Koenigsegg Gemera          Price: $1.7 Million
8                        Zenvo TSR-S          Price: $1.7 Million
9                 Hennessey Venom F5          Price: $1.7 Million
10                   Bentley Bacalar          Price: $1.8 Million
11     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12            Bentley Mulliner Batur          Price: $1.9 Million
13                      Deus Vayanne          Price: $2.0 Million
14                       SSC Tuatara          Price: $2.0 Million
15                       Lotus Evija         Price: $2.0 Million*
16               Aston Martin Vulcan          Price: $2.1 Million
17                        Delage D12          Price: $2.3 Million
18                 McLaren Speedtail          Price: $2.3 Million
19                      Rimac Nevera          Price: $2.3 Million
20                     Pagani Utopia          Price: $2.4 Million
21              Pininfarina Battista          Price: $2.5 Million
22                 Ferrari FXX K Evo          Price: $2.5 Million
23                Gordon Murray T.50          Price: $2.6 Million
24              Lamborghini Countach          Price: $2.6 Million
25          Mercedes-AMG Project One          Price: $2.6 Million
26               Aston Martin Victor          Price: $2.7 Million
27       Hennessey Venom F5 Roadster          Price: $3.0 Million
28                  Koenigsegg Jesko                 $3.0 Million
29             Aston Martin Valkyrie          Price: $3.0 Million
30         W Motors Lykan Hypersport          Price: $3.2 Million
31                     McLaren Solus          Price: $3.4 Million
32         Pagani Huayra Roadster BC                 $3.5 Million
33          Bugatti Chiron Pur Sport          Price: $3.5 Million
34                  Lamborghini Sian          Price: $3.6 Million
35                  Koenigsegg CC850          Price: $3.6 million
36   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
37                Lamborghini Veneno          Price: $3.9 Million
38                    Bugatti Bolide          Price: $4.5 Million
39                   Bugatti Mistral          Price: $4.7 Million
40               Pagani Huayra Imola          Price: $5.0 Million
41                      Bugatti Divo          Price: $5.4 Million
42               SP Automotive Chaos          Price: $5.8 Million
43                  Pagani Codalunga          Price: $6.4 Million
44          Mercedes-Maybach Exelero          Price: $7.4 Million
45                Bugatti Centodieci          Price: $8.0 Million
46           Bugatti Chiron Profilée          Price: $9.0 Million
47              Rolls-Royce Sweptail         Price: $10.8 Million
48          Bugatti La Voiture Noire         Price: $12.8 Million
49            Rolls-Royce Boat Tail*         Price: $13.4 Million
50  Most Expensive Cars In The World  Price: $28.0 Million (est.)